*{
    box-sizing:border-box;
   /* outline:1px solid red;*/
}


body {
                overflow-x:hidden;
                font-family: Monserrat, sans-serif;
                text-align: center;
                min-height: 100vh;
                background: linear-gradient(to bottom, #07050a, #302c70);
                /*margin:50px;*/
                padding: 20px;
            }

  #logoBig {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }           
            h1 {
                color: #f4f9ff;
                transition:0.3s;
            }
            h1:hover {
                transform:scale(1.2);
                text-shadow:
                0 0 25px #00ffff,
                0 0 50px #00ffff,
                0 0 100px #c9ffff;
            }

            h2, h3 {
                color: #56bbff;
                font-family: Monserrat, sans-serif;
                
            }
            
            p {
                color: #ffffff;
                font-size: 14px;
            }

           


.header { 
    
                display: flex;
                justify-content: space-between;
                align-items:center;
                width:100%;
                box-sizing:border-box;
    padding:10px  20px;
            }

          
.logo_container { 
            
                
                
            }
.logo_container img {
    width: clamp(50px, 8vw, 100px);
    height: auto;
    
}

.nav { /*Why logo end text go out of the screen? Answear: Because the flex container doesn't have a defined width */
    display: flex; 
    width:100%;
    gap:clamp(10px,2vw,30px);
    align-items:center;
    justify-content:space-between;
            
}

.nav a {
                width:fit-content;
                color: #56bbff;
                text-decoration: none;
              /*  margin: 0 15px;*/
                font-size: 20px;
                transition:0.3s;
            }

.nav a:active {
    color: #baffff;  
    font-weight:bold;
}
.nav a:visited {
    color: #56bbff; 
}
.nav a:hover {
                transform:scale(1.2);
                text-shadow:
                0 0 25px #00ffff,
                0 0 50px #00ffff,
                0 0 100px #c9ffff;
    
}


.flag {
    
    width:50px;
    height:50px;
    object-fit: cover;
    justify-items:center;
    align-items:center;
    
    
}

.flag img {
    
    width: clamp(90px, 8vw, 90px);
    height: clamp(50px, 8vw, 50px);
}

.team {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.teamMember {
    color:#07050a;
    background-color: #00000000;
    outline:#56bbff solid 2px;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    min-height: 600px;
    height:auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
                 
.teamMember:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.teamMember img { 
    width:100%;
    height:auto;
    border-radius: 10px;
    object-fit:cover;
}

.teamMember p {
    font-size: 16px;
    line-height:1.6;
}

.extraHeadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.extraHeading { 
    align-items: center;
    justify-content: center;
    color: #d5f8ff;
    font-family: Monserrat, sans-serif;
    font-size: 100px;
    transition:0.3s;
}

.extraHeading:hover {
     transform:scale(1.2);
                text-shadow:
                0 0 2px #00ffff,
                0 0 50px #0089ff,
                0 0 100px #c9ffff;
}


form {
    display: flex;
    flex-direction:column;
    gap:15px;
    width:400px;
    margin:40px auto;
    
}

label {
    
    color:#0089ff;
    font-size: 18px;
    font-weight:600;
    letter-spacing: 1px;
}

input, textarea{
    
    padding:12px;
    border:2px solid #0089ff;
    font-size:16px;
    transition:0.3s;
    
    
}

input:focus, textarea:focus{
    border-color: #0088ff;
    outline:none;
    box-shadow:0 0 10px rgba(123,92,255,0.4);
}

textarea{
    min-height:120px;
    resize:vertical;
}

button{
    margin-top:10px;
    padding:12px;
    border:none;
    font-size:18px;
    font-weight:bold;
    background:none;
    color:#56bbff;
    cursor:pointer;
    transition:0.3s;
    border:2px solid #0089ff;
}

button:hover{
    background: #006df61c;
    transform: scale(1.05);
}

.formcontainer{
    background:#0f0e2d;
    padding: 30px 40px;
    margin:50px auto;
    max-width:800px;
    box-shadow:0 8px 20px rgba(0, 137,  255, 0.2);
    border: 2px solid #0089ff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.formcontainer:hover{
    transform:translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 137, 255, 0.3);
}