{% extends "app/layout.html" %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %}

    
    <div class="extraHeadingContainer">
        <span class="extraHeading">Our Team</span>
    </div>
       
    
    <div class="team">
        <div class="teamMember">
            <img src="{% static 'app/avatars/VikaAvatar.jpg' %}" alt="Team Member 1">
            <h3>Череватенко Вікторія Андріївна</h3>
            <p>Founder Software Engineer</p>

            <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст 
               Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
            </p>
        </div>

        <div class="teamMember">
            <img src="{% static 'app/avatars/VadimAvatar.jpg' %}" alt="Team Member 1">
            <h3>Вакалюк Вадим Іванович</h3>
            <p>Project Manager</p>

            <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст 
               Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
            </p>
        </div>

        <div class="teamMember">
            <img src="{% static 'app/avatars/EduardAvatar.jpg' %}" alt="Team Member 1">
            <h3>Корпош Едуард Анатолійович</h3>
            <p>QA Engineer</p>

            <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст 
               Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
            </p>
        </div>

        <div class="teamMember">
            <img src="{% static 'app/avatars/LisaAvatar.jpg' %}" alt="Team Member 1">
            <h3>Белей Єлизавета Андріївна</h3>
            <p>Business Analyst </p>

            <p>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст 
               Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
            </p>
        </div>

    </div>
{% endblock %}