{% extends "app/layout.html" %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %}

    
    <div class="extraHeadingContainer">
        <span class="extraHeading">Наша команда</span>
    </div>
    <div class="team">
        <div class="teamMember">
            <h3>Череватенко Вікторія Андріївна</h3>
            <p>Founder Software Engineer</p>

            <p>
                Студентка кафедри інженерії програмного забезпечення ЧНУ. Відповідає за пошук команди, створення, дизайн та підтримку сайту. Розробниця ігор на Unity C# GoblinRun, HistoricalDisinformation, WeatheryWay, Blackout та месенджера TimeBeCreativeChat.
            </p>

            
            <img src="{% static 'app/avatars/VikaAvatar.jpg' %}" alt="Team Member 1">
        </div>

        <div class="teamMember">
            <h3>Вакалюк Вадим Іванович</h3>
            <p>Project Manager</p>

            <p>Вадим відповідає за стратегічне планування, координацію команди та дотримання термінів реалізації проєктів. Його головне завдання - налагодити ефективну комунікацію між розробниками, дизайнерами та тестувальниками, забезпечуючи чітке виконання технічних завдань. Студент ЧНУ, який майстерно володіє інструментами управління та допомагає команді фокусуватися на головних цілях, мінімізуючи ризики на кожному етапі розробки.
            </p>

            
            <img src="{% static 'app/avatars/VadimAvatar.jpg' %}" alt="Team Member 1">
        </div>

        <div class="teamMember">
            <h3>Корпош Едуард Анатолійович</h3>
            <p>QA Engineer</p>

            <p>Едуард відповідає за перевірку якості програмного забезпечення в нашій компанії. Його компетенції включають ручне тестування, пошук і документування помилок, створення тест-кейсів та перевірку відповідності програмних продуктів вимогам.
Едуард є студентом та вивчає тестування програмного забезпечення. Має досвід тестування навчальних проєктів, аналізу роботи програм та співпраці з розробниками для покращення якості програмних продуктів.
            </p>

            
            <img src="{% static 'app/avatars/EduardAvatar.jpg' %}" alt="Team Member 1">
        </div>

        <div class="teamMember">
            <h3>Белей Єлизавета Андріївна</h3>
            <p>Business Analyst </p>

            <p>Єлизавета - бізнес-аналітик команди, яка відповідає за дослідження потреб користувачів та аналіз бізнес-процесів. Вона збирає та структурує вимоги до продукту, допомагає визначити основні цілі проєкту й перетворює ідеї на чіткі завдання для команди розробки. Ліза уважна до деталей, вміє працювати з даними та ефективно комунікує між замовниками й технічною командою, щоб забезпечити створення корисного та зручного продукту.
            </p>

            
            <img src="{% static 'app/avatars/LisaAvatar.jpg' %}" alt="Team Member 1">
        </div>

    </div>
{% endblock %}