{% extends "app/layout.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
   
    

    <div class="HomeInvitationText">
         
        <h1>Ласкаво просимо до TIMEBECREATIVE</h1>
        <p>
         Ми — IT-компанія TIMEBECREATIVE, яка займається розробкою програмного забезпечення та створенням сучасних цифрових продуктів. Ми розробляємо Android-додатки, комп’ютерні програми та комп’ютерні ігри, а також приймаємо замовлення на створення індивідуальних програмних продуктів.
        Ми створюємо програмні продукти різної складності, використовуючи сучасні технології. Поєднання творчого підходу та технічних знань дозволяє нам розробляти якісні, надійні та зручні у використанні програми.
        Ми прагнемо створювати програмне забезпечення, яке буде корисним для користувачів та відповідатиме сучасним вимогам технологій. Для нас важливими є якість продуктів, постійний розвиток та використання нових технологій у розробці.  
        </p>

   </div>

   <img id="logoBig" src="{% static 'app/logo.png' %}" alt="TimeBeCreative Logo Big">
{% endblock %}

