*{
    box-sizing:border-box;
  /*  outline:1px solid red;*/
}


body {
                overflow-x:hidden;
                font-family: Monserrat, sans-serif;
                text-align: center;
                min-height: 100vh;
                background: linear-gradient(to bottom, #07050a, #302c70);
                /*margin:50px;*/
            }

.maincontant {
    /*padding:20px;*/
}

  #logoBig {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }           
            h1 {
                color: #f4f9ff;
                transition:0.3s;
            }
            h1:hover {
                transform:scale(1.2);
                text-shadow:
                0 0 25px #00ffff,
                0 0 50px #00ffff,
                0 0 100px #c9ffff;
            }

            h2, h3 {
                color: #56bbff;
                font-family: Monserrat, sans-serif;
                
            }
            
            p {
                color: #ffffff;
                font-size: 14px;
                
    line-height:1.6;
            }

           


.header { 
    
                display: flex;
                justify-content: space-between;
                align-items:center;
                max-width:100%;
                gap: 20px;
                box-sizing:border-box;
    padding:10px  20px;
            }

          
.logo_container { 
            
                
                
            }
.logo_container img {
    width: clamp(50px, 8vw, 100px);
    height: auto;
    
}

.nav { /*Why logo end text go out of the screen? Answear: Because the flex container doesn't have a defined width */
    display: flex; 
    flex:1;
    flex-wrap:wrap;
    gap:clamp(10px,2vw,30px);
    align-items:center;
    justify-content:space-between;
            
}

.nav a {
                white-space:nowrap;
                color: #56bbff;
                text-decoration: none;
              /*  margin: 0 15px;*/
                font-size: 20px;
                transition:0.3s;
            }

.nav a:active {
    color: #baffff;  
    font-weight:bold;
}
.nav a:visited {
    color: #56bbff; 
}
.nav a:hover {
                transform:scale(1.2);
                text-shadow:
                0 0 25px #00ffff,
                0 0 50px #00ffff,
                0 0 100px #c9ffff;
    
}


.flag {
    
    width:80px;
    height:50px;
    justify-items:center;
    align-items:center;
    overflow:hidden;
    
}

.flag img {
    
    width: clamp(90px, 8vw, 90px);
    height: auto;
    
    object-fit: cover;
}

.team {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.teamMember {
    display: flex;               /* робимо flex-контейнер */
    flex-direction: column;      /* вертикальне розташування */
    justify-content: space-between;
    
    color:#07050a;
    background-color: #00000000;
    outline:#56bbff solid 2px;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    min-height: 600px;
    height:auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    align-items:center;
}
                 
.teamMember:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.teamMember img { 
    
    width:100%;
    height:auto;
    border-radius: 10px;
    object-fit:cover;
}

.teamMember p {
    font-size: 16px;
    line-height:1.6;
}

.extraHeadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.extraHeading { 
    align-items: center;
    justify-content: center;
    color: #d5f8ff;
    font-family: Monserrat, sans-serif;
    font-size: 20px;
    transition:0.3s;
}

.extraHeading:hover {
     transform:scale(1.2);
                text-shadow:
                0 0 2px #00ffff,
                0 0 50px #0089ff,
                0 0 100px #c9ffff;
}


form {
    display: flex;
    flex-direction:column;
    gap:15px;
    width:100%;
    max-width:400px;
    margin:40px auto;
    padding: 0 10px;
    
}

label {
    
    color:#0089ff;
    font-size: 18px;
    font-weight:600;
    letter-spacing: 1px;
}

input, textarea{
    
    padding:12px;
    border:2px solid #0089ff;
    font-size:16px;
    transition:0.3s;
    
    
}

input:focus, textarea:focus{
    border-color: #0088ff;
    outline:none;
    box-shadow:0 0 10px rgba(123,92,255,0.4);
}

textarea{
    min-height:120px;
    resize:vertical;
}

button{
    margin-top:10px;
    padding:12px;
    border:none;
    font-size:18px;
    font-weight:bold;
    background:none;
    color:#56bbff;
    cursor:pointer;
    transition:0.3s;
    border:2px solid #0089ff;
}

button:hover{
    background: #006df61c;
    transform: scale(1.05);
}

.formcontainer{
    background:#0f0e2d;
    padding: 30px 40px;
    margin: 0 auto;
    width:100%;
    max-width:800px;
    box-shadow:0 8px 20px rgba(0, 137,  255, 0.2);
    border: 2px solid #0089ff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.formcontainer:hover{
    transform:translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 137, 255, 0.3);
}

.HomeInvitationText {
    width: 80%;
    margin: 0 auto;
    color: #56bbff;
    margin-top: 20px;
    transition:0.3s;
    padding: 20px;
    margin-top:80px;


     display: flex;               /* робимо flex-контейнер */
    flex-direction: column;      /* вертикальне розташування */
    justify-content: space-between;
    
    color:#07050a;
    background-color: #00000000;
    outline:#56bbff solid 2px;
    border-radius: 10px;
    height:auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items:center;
}

.HomeInvitationText p {
    color: #f8fcff;
    transition:0.3s;
     font-size: 16px;
    line-height:1.6;
}


.services {
            display: flex;
            flex-direction:column;
            gap: 20px;
    align-items:center;
            
        }

        .serviceCard {
            
    outline:#56bbff solid 2px;
            background-color: #3f487ca6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 100%;
            max-width:1000px;
            min-height: 500px;
            
            display: flex;
            flex-direction: row;
            padding:40px;
            gap:20px;

            align-items:center;
        }

        .serviceCard .imageContainer {
           
 width:500px;
            flex-shrink:0;
    height:500px;;
    justify-items:center;
    align-items:center;
    overflow:hidden;
    

        }

        .serviceCard img {
              width: 100%;
    height: 100%;
    
    object-fit: cover;
        }

        .serviceContent {
            padding: 20px;
            text-align:left;
        }

        .serviceContent h3 {
            margin-top: 0;
        }

@media (max-width:950px) {
    .serviceCard{
        flex-direction:column;
    }

    .serviceCard .imageContainer {
        width: 100%;
    }

     .serviceContent {
            text-align:center;
        }

}

.consultationButton {
 margin-top:10px;
    padding:12px;
    border:none;
    font-size:18px;
    font-weight:bold;
    background:none;
    color:#56bbff;
    cursor:pointer;
    transition:0.3s;
    border:2px solid #0089ff;
}

.consultationButton:hover{
    background: #006df61c;
    transform: scale(1.05);
}

footer {
    margin-top: 50px;
    padding: 50px;
    background-color: #0f0e2d;
    color: #56bbff;
    text-align: center;
    font-size: 14px;
}